:root{
    --mainText:#fff;
    --mainColor:#621d80;
    --bordercolor:#1d1520;
    --secondaryText:#eeeeee;
    --secondarycolor:#722996;
    --themedotborder:#24292e;
    --previewshadow:#2b202f;
    --buttoncolor:rgb(56, 115, 163);
}
